@keyframes heart-scale{
  from{
    scale: 1;
  }
  50%{
    scale: 1.25;
  }
  to{
    scale: 1;
  }
}
@keyframes heart-sparks{
  from{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

.contour {
  transition: fill 0.3s ease;
}
.main-body {
  transition: fill 0.3s ease 0.05s;
}
.core {
  fill: transparent;
  transition: fill 0.3s ease;
}
.sparks {
  opacity: 0;
}

.card__icon-button:hover .core{
  transition-delay: 0.03s;
  fill: var(--heart-contour-color);
}
.card__icon-button:hover .main-body{
  fill: var(--heart-contour-color);
}
.card__icon-button:active .core{
  transition-delay: 0.03s;
  fill: var(--heart-main-color);
}
.card__icon-button:active .main-body{
  fill: var(--heart-main-color);
}
.like-icon.is-liked .contour{
  transition-delay: 0.03s;
  fill: var(--heart-main-color);
}
.like-icon.is-liked .main-body{
  transition-delay: 0.03s;
  fill: var(--heart-main-color);
}
.like-icon.is-liked .core{
  transition-delay: 0.03s;
  fill: var(--heart-main-color);
}
.like-icon.is-liked{
  transition-delay: 0.1s;
  animation: heart-scale 0.3s ease-in;
}
.like-icon.is-liked .sparks{
  transition-delay: 0.3s;
  animation: heart-sparks 0.3s ease-in;
}
