/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
  --inter: 'Inter';
  --prst: 'PressStart2P';
  --wght-par: '400';
  --wght-title: '700';
  --content-inline-size: 50vw;
}